target*
runner/*
*.classpath
*.DS_Store
*.project
*.settings
plug-ins/git/test/
maven.jks
*.externalToolBuilders
/.idea/
bin/
.metadata
*.*~
*.externalToolBuilders
.idea/
*.iml
*.ipr
*.iws
*.db
doc/javadoc/
alitheia/runner/
metrics/contrib/maven-eclipse.xml
lib/ejb3unit-2.0.0-RC-1.jar
